<!DOCTYPE html>
<html>
<head>
    <title>Affichage des données</title>
</head>
<body>
    <h1>Clients</h1>
    <ul>
        {% for client in clientelle %}
            <li><p>"{{ client.nom}} {{ client.prenom }} {{ client.sexe }} {{ client.email }} {{ client.nom_utilisateur }} {{ client.mdp }}"</p></li>
        {% endfor %}

    <form method="post" action="{% url 'nouveau_client' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter le client</button>
    </form>

    <h1>Comptes</h1>

        {% for compte in comptes %}
            <li><p>"{{ compte.IBAN}} {{ compte.client}} {{ compte.date}} {{ compte.solde}}"</p></li>
        {% endfor %}

        <form method="post" action="{% url 'ajout_compte' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Nouveau Compte</button>
        </form>
        <form action="{% url 'execute_sql' %}" method="post">
          {% csrf_token %}
          <label for="id_input">ID:</label>
          <input type="text" id="id_input" name="id">
          <button type="submit">Exécuter SQL</button>
        </form>
    </ul>

</body>
</html>
